#*Day 2*

In [2]:
'''1. Introduction to datatypes
2. Importance of datatypes
3. Basic Datatypes
  a.Integer
  b.Float
  c.String
  d.Boolean
4. Operators
5. If, Elif, Else if,Nested if

'1. Introduction to datatypes\n2. Importance of datatypes\n3. Basic Datatypes\n  a.Integer\n  b.Float\n  c.String \n  d.Boolean\n4. Advance Datatypes\n  a.List\n  b.Tuple\n  c.Sets\n  d.Dictionaries\n5. Type Conversion'

In [3]:
##Interger
age=26
type(age)

int

In [5]:
#Float
height=5.7
print(height)
print(type(height))

5.7
<class 'float'>

In [8]:
#Boolean
is_true = False
type(is_true)

bool

#*Operators*

In [9]:
#Arithmetic Operator

a=10
b=3

add_result = a+b
sub_result = a-b
floor_div_result = a//b  #floor division
mod_result = a%b #modulus
exp_result = a**2 #exponentials

print(add_result)
print(sub_result)
print(floor_div_result)
print(mod_result)
print(exp_result)

13
7
3
1
100

In [12]:
#Comparision Operator (=, !=, >, >=, <, <=)

a=100
str1 = 'Ani'
str2 = 'ani'

print(str1==str2)

print(str1 != str2)

False
True

In [14]:
num1 = 23
num2 = 34

num1>=num2

False

In [23]:
#Logical Operators

#And, Not, OR

X = True
Y= False

res = X and Y
print(res)

False

In [25]:
#OR - Either one of them is true then it is true

X = True
Y= False

res = X or Y
print(res)

True

In [28]:
#Not

y = True
not y

False

# *IF ELSE ELIF*

In [29]:
#if statement - evaluates the condition and execute a block of code (within) if condition is true
#else - Executes block of code if condition in if statement is false

In [30]:
age = 20
if age>=21:
  print('eligible')
else:
  print('SOrry! underage.....')

SOrry! underage.....

In [31]:
#ELIF - allows you to check for multiple conditions

In [34]:
age = int(input('Enter your age \n'))
if age<13:
  print('You are a kid')
elif age<21:
  print('You are teenager')
else:
  print('you are an adult')

Enter your age
23
you are an adult

In [39]:
# Nested Conditional statement

#You can place one or more if, elif or else statement inside another if, else,elif to create nested consitional statement

## tell number is even or odd or negative

num = int(input('Enter a number'))
if num>0:
  print('Number is positive')
  if num%2==0:
      print('Its a Even number')
  else:
    print('The number is ODD')

else:
  print('The number is ZERO or negative')

Enter a number3
Number is positive
The number is ODD

In [42]:
#Year is leap or not using nested if

year = int(input('Enter the year'))
if year%4==0:
  if year%100==0:
    if year%400==0:
      print('This is a leap year')
    else:
      print('THIS is not a leap year')
  else:
    print(year,'is a leap year')
else:
  print(year,'is not a leap year')

Enter the year2021
2021 is not a leap year