1. Introduction to loops
2. For loops
    Iterating over a range
    iterating over a string
3. While loop
4. Loop control statements
    Break
    Continue
    Pass
5. Nested Loops

In [1]:
#For Loop

range(5)

range(0, 5)

In [2]:
range(1,5)

range(1, 5)

In [3]:
for i in range(5):
  print(i)

#last number will not include

0
1
2
3
4

In [8]:
for i in range(1,10,3):
  print(i)

1
4
7

In [7]:
for i in range(1,10,3): #3 is step size
  print(i)

1
4
7

In [11]:
for i in range(10,1,-2):
  print(i)

10
8
6
4
2

#Strings

In [12]:
str = 'Anirudh Nayak'
for i in str:
  print(i)

A
n
i
r
u
d
h

N
a
y
a
k

In [13]:
#While Loop - will continues to execute untill condition is true

In [17]:
count = 0
while count<5:
  print(count)
  count+=1. #count=count+1

0
1.0
2.0
3.0
4.0

In [18]:
count=0
while count%2==0:
  print(count)
  count+=1

#1%2==0 is not true so came out of loop

0

In [21]:
#Loop Control statement
#Break statement exits loop permanently

for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [22]:
## Continue statement - skips current and continue with range

In [31]:
for i in range(15):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13

In [32]:
##Pass statement is a null operator and does 'NOTHING'

In [34]:
for i in range(5):
  if i==3:
    pass
  print(i)

0
1
2
3
4

In [39]:
#Nested Loops - Loop inside a loop

for i in range(4):
  for j in range(3):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:3 and j:0
i:3 and j:1
i:3 and j:2

In [40]:
#Example

#Calculate sum of first N natural numbers using while and for loop

num = 10
sum=0
count=0
while(count<=num):
  sum+=count
  count+=1
print('Sum of first N natural number =',sum)

Sum of first N natural number = 55

Loops are powerfull in python