#*Welcome to Google Colab!*

In [2]:
#comments

#*Syntax* - How we are able to arrange the words so that we can write a code

In [3]:
'''
This is a
multiline
comment '''

'\nThis is a \nmultiline \ncomment '

In [8]:
name ='Anirudh'
Name ='Nayak'

In [9]:
print(name)

Anirudh

#*Indentation* - Use to define Hierarchy of code

In [19]:
#Indentation
age=0
q = int(input('Enter age of a person'))
if q>=21:
  print('He is allowed inside')
else:
  print('Sorry! He is underage \n')

Enter age of a person21
He is allowed inside

In [20]:
#check datatype
type(age)

int

In [22]:
age = 'anirudh'
print(type(age))

<class 'str'>

In [24]:
age=32
if age>35:
  print(age)

#*Variables*

In [31]:
#DEclare and Assign variable

age = 26
height = 5.7
name = "anirudh"
is_student = True

print("Hey ",name)

Hey  anirudh

In [39]:
#Naming Convention
'''Variable name should be descriptive and must always start with letter or _
It can contain letters,numbers and underscores in between
Variable names are case sensitive'''


first_name = 'anirudh'
last_name='nayak'
name = first_name+last_name
name

'anirudhnayak'

In [41]:
#Variable types
##Python is dynamically typed, variable type is determined at runtime
age = 26 #int
weight= 70.5 #float

#Type Conversion

In [44]:
age = 26
print(type(age))

#type conversion

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
26
<class 'str'>

In [45]:
weight = 70.5
type(weight)

float

In [46]:
int(weight)

70

In [47]:
float(int(weight))

70.0

In [51]:
## Dynamic typing
##python can change type of variable during runtime
var = 10
print(var, type(var))

var = 'Anirudh'
print(var, type(var))

var = 10.33
print(var, type(var))

10 <class 'int'>
Anirudh <class 'str'>
10.33 <class 'float'>

#USER INPUT

In [52]:
age = int(input('WHat is your age??'))
if age >= 25:
  print('You are good to go')
else:
  print('Nah!!')

WHat is your age??21
Nah!!

#*CALCULATOR*

In [53]:
num1 = float(input("Enter num1"))
num2 = float(input("Enter num2"))

sum = num1+num2
sub = num1-num2
multi = num1*num2
divi = num1/num2

print("Addition =",sum)
print("substraction =",sub)
print("Multiplication =",sum)
print("Division =",sum)

Enter num123
Enter num29747
Addition = 9770.0
substraction = -9724.0
Multiplication = 9770.0
Division = 9770.0